@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f7acac; /* dark mode primary */
  --color-secondary: #f9b2b3;
  --color-background: #ffffff;
  --color-text: #111827;
}

.dark {
  --color-primary: #bab8f4; /* light primary */
  --color-secondary: #FBBF24;
  --color-background: #111827;
  --color-text: #ffffff;
}

/* body {
  background-color: var(--color-primary);
  color: var(--color-primary);
} */
a:hover {
  color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text{
  color: var(--color-text);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-background {
  background-color: var(--color-background);
}
.font-primary {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.font-secondary {
  font-family: "Courier New", Courier, monospace;
}
